<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
    <layoutService>
       <publishWebHooks type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHooks, Sitecore.JavaScriptServices.AppServices">
        <hooks hint="list:AddWebHook">
          <hook type="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHookDefinition, Sitecore.JavaScriptServices.AppServices">
            <name>Vercel</name>
            <url>https://api.vercel.com/v1/integrations/deploy/prj_IoO2hzFqDU6CdVgoelxtaaOwxBry/mtmqWRHlVI</url>
            <method>POST</method>            
            <site>/sitecore/content/JSS/JSS-1</site>
          </hook>       
        </hooks>   
        </publishWebHooks>
    </layoutService>
     <events>
      <event name="publish:end">
        <handler type="Sitecore.JavaScriptServices.AppServices.Handlers.PublishingEnd.WebHookHandler, Sitecore.JavaScriptServices.AppServices" method="OnPublishEnd" resolve="true" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.JavaScriptServices.AppServices.Handlers.PublishingEnd.WebHookHandler, Sitecore.JavaScriptServices.AppServices" method="OnPublishEnd" resolve="true" />
      </event>
    </events>
     <services>
      <register serviceType="Sitecore.JavaScriptServices.AppServices.WebHooks.IRequestClientFactory, Sitecore.JavaScriptServices.AppServices" implementationType="Sitecore.JavaScriptServices.AppServices.WebHooks.WebHookRequestClientFactory,Sitecore.JavaScriptServices.AppServices" />
      <register serviceType="Sitecore.JavaScriptServices.AppServices.WebHooks.IStatusProcessorFactory, Sitecore.JavaScriptServices.AppServices" implementationType="Sitecore.JavaScriptServices.AppServices.WebHooks.StatusProcessorFactory, Sitecore.JavaScriptServices.AppServices" />
    </services>
  </sitecore>
</configuration>
